# Getting Started
Data Team, @rachel and @brendan, both of you will be working on Jupyter Notebook very frequently for the coming one week. In consideration of time constraints, I'll be treating Jupyter Notebooks as ACTUAL NOTEBOOKs for us to communicate our findings with each other.

## Some commands and functions of Jupyter Notebook
1. click on the square bracket [ ] on the left side of the following cell.
2. make sure you're selecting the cell as a whole and not the typing space of the cell.
3. press M to convert it into a Markdown Cell : to fill in text that are informative and non-executable python codes.
4. press Y to conver it into a Code Cell : to fill in executable python codes, will have error if there's syntax issues.
5. press Shift + Enter to execute the cell as either Markdown or Code.
6. press Esc to cancel select on typing space.

In [ ]:
Turn this into a Markdown cell.
Run shift enter.

In [ ]:
print("Keep this as a Code cell.")
print("Run shift enter.")

## Some additional commands
1. to perform cell functions, first press Esc to cancel select on typing space.
2. press A to insert a cell on top of current cell.
3. press B to insert a cell below current cell.
4. press D D to delete current cell. (Yes, double D)
5. press Z to undo a certain cell action.

# #0 Table of Content (time to get serious)
1. import packages and data
2. data preprocessing & feature engineering
3. data analysis & data visualization
4. conclusion

# #1 Import Packages and data
1. No brainer, we will be working pandas mainly. Import it as "pd" so we will be using the "pd" object very frequently below. Can be any other terms but best practice is just to call it "pd"
2. pd.read_csv is to read the csv file and convert it into a "pd" object or what we call "dataframe" object. You can see the full name of the object by typing type(table). It will show "pandas.core.frame.DataFrame"
3. for sanity check, here are some python codes you can run after importing .csv files :
    - table.head() : if empty parenthesis, returns first 5 rows of data. if .head(3), returns the first 3.
    - table.tail() : if empty parenthesis, returns first 5 rows of data. if .tail(3), returns the first 3.
    - table.describe() : describes each numeric column of the table.
    - *Note : you can use the display(table) instead of print(table) to show a table in a more beautiful manner
    - *Note : table = DataFrame in this context

In [2]:
import pandas as pd

In [6]:
product_table = pd.read_csv("../asset/product.csv")
review_table  = pd.read_csv("../asset/review.csv")
user_table    = pd.read_csv("../asset/user.csv")

In [8]:
type(product_table)

pandas.core.frame.DataFrame

In [9]:
product_table.head()

,Unnamed: 0,Product ID:,Store Name,Product Name:,Product Price:,Total Number of Ratings:,Average Ratings:,Total Sold:,Total Fav:,Total Available:,Description:
0,0,1ca606d9-0507-410b-a98c-a0d1745cc233,Skullcandy Singapore Official Store,Crusher ANC 2 Sensory Bass Wireless Headphones...,$350.00,3,5.0,7,Favorite (43),2 pieces available,The next generation of our iconic Crusher head...
1,1,a45e9ef8-c2d2-4495-ac16-0b8c42a236ca,sprise_localstore.sg,SPRISE Premium Wireless Bluetooth Earphone Col...,$17.33,245,4.6,813,Favorite (1.1k),2 pieces available,Hey~ Welcome to SPRISE Official Store! Please ...
2,2,cdba870d-eb79-4380-9de9-d6e61c895949,SHAVALIFE,USB PC Headset Conference Call with Noise Canc...,$18.50,1.6k,4.9,5.1k,Favorite (1.5k),477 pieces available,Headset Key Features: ✅ High Quality Stereo S...
3,3,d2030c84-9633-4362-84ba-e24ee955c571,Online Singapore,Online Singapore - Sony MDR-ZX110AP Headphones...,$32.90,210,4.8,576,Favorite (460),100 pieces available,* Local Authorized Dealer\r\n* One Year Local ...
4,4,ea192f7b-9cb2-4a7a-b6dc-0b4c1d268e35,Skullcandy Singapore Official Store,Skullcandy Cassette Wireless On-Ear Headphones,$50.00,100,4.9,249,Favorite (405),8 pieces available,Bluetooth® Wireless Technology\r\nUp to 22 Hou...

In [12]:
display(review_table.tail(3))

,Unnamed: 0,Product ID,Product Name,Username,Rating,DateTime,Comment ID,Comments
27689,27689,bf476063-e681-4700-b2a1-ad8a416a7cb8,Y08 Macaron Wireless Foldable Headphones with ...,8w_1tppv5h,5,2023-07-12 03:18,NaN,NaN
27690,27690,bf476063-e681-4700-b2a1-ad8a416a7cb8,Y08 Macaron Wireless Foldable Headphones with ...,anagrazielaferreirafaria,5,2023-07-12 03:18,NaN,NaN
27691,27691,bf476063-e681-4700-b2a1-ad8a416a7cb8,Y08 Macaron Wireless Foldable Headphones with ...,g*****o,5,2023-07-12 02:32,NaN,NaN

In [13]:
user_table.describe()

,Unnamed: 0,Number of Comments,Number of Products Commented,Mean Rating
count,19978.000000,19978.000000,19978.000000,19978.000000
mean,9988.500000,0.638703,1.236310,4.782306
std,5767.296175,1.725756,1.338929,0.660200
min,0.000000,0.000000,1.000000,1.000000
25%,4994.250000,0.000000,1.000000,5.000000
50%,9988.500000,0.000000,1.000000,5.000000
75%,14982.750000,1.000000,1.000000,5.000000
max,19977.000000,116.000000,36.000000,5.000000

# #2 Data Preprocessing & Feature Engineering

In [15]:
print("some code that I haven't figured out yet")

some code that I haven't figured out yet

# #3 Data Analysis & Data Visualization

In [16]:
print("some code that I haven't figured out yet")

some code that I haven't figured out yet

# #4 Conclusion
Write some conclusion in Markdown here